# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Quarto
_book/
_site/
.quarto/
/build/
master/_book/
master/.quarto/
doctoral/_book/
doctoral/.quarto/
# 各子项目渲染生成的顶层 .tex（keep-tex: true），不影响 tex/ 下的源文件
master/*.tex
doctoral/*.tex
*.log
*.aux
*.bbl
*.blg
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Other files and folders
.settings/
~$*.docx
.DS_Store

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

/.quarto/
